{{#if error}}
<div class="p-4 m-4 border-2 border-red-800 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
    <a href="/cart"><span class="font-medium">Error!</span> This cart does not exist. Click here to check your <span
            class="font-medium">Carts!</span></a>
</div>
{{else}}
<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar"
    aria-controls="sidebar-multi-level-sidebar" type="button"
    class="p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>

    <div class="flex flex-row">
        <aside id="sidebar-multi-level-sidebar" class="z-50 left-0 w-64 h-transition-transform -translate-x-full sm:translate-x-0 sm:top-[73px] md:top-[71px] xsm:top-32" aria-label="Sidebar">
            <div class="h-full px-9 py-4 overflow-y-auto border-r border-gray-200 bg-gray-50">
                <div class="h-full flex flex-col">
                    <!-- Moderators -->
                    <ul class="pt-1 space-y-1 mod-list">
                        <h3 class="my-3 text-xl font-bold text-urban">Collaborators</h3>
                        {{#each thisCart.collaborators}}
                            <li class="py-2 sm:py-1">
                                <div class="flex items-center space-x-3">
                                    <div class="relative inline-flex items-center justify-center w-9 h-9 overflow-hidden bg-gray-200 rounded-full">
                                        <span class="font-medium text-gray-600">{{#ini email}}{{/ini}}</span>
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p class="text-sm font-semibold text-gray-900 truncate">
                                            {{email}}
                                        </p>
                                    </div>
                                    {{#if isModerator}}
                                        {{#if approved}}
                                            <span class="inline-flex items-center bg-green-200 text-gray-800 text-xs font-medium mr-2 px-1 py-1 rounded-full">
                                                <span class="w-2 h-2 bg-green-400 rounded-full"></span>
                                            </span>
                                        {{else}}
                                            <span class="inline-flex items-center bg-yellow-200 text-gray-800 text-xs font-medium mr-2 px-1 py-0.5 rounded-full">
                                                <span class="w-2 h-2 mr-1 bg-yellow-400 rounded-full"></span>
                                                ?
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                    {{#if leader}}
                        <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="mt-1 mx-1 text-white right-2.5 bottom-2.5 bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 py-2">
                            +
                        </button>
                    {{/if}}


                <!-- My Carts -->
                <ul class="pt-4 mt-4 space-y-1 font-medium border-t border-gray-200">
                    <h3 class="my-3 text-xl font-bold text-urban">My Carts</h3>

                    {{#each carts}}
                    <li>
                        <a href="/cart/{{cartID}}"
                            class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100">
                            <img src="/photo/cart.svg" alt="Shopping cart logo" class="h-auto w-5 mr-2">
                            <span class="ml-1">{{cartName}}</span>
                        </a>
                    </li>
                    {{/each}}

                </ul>


                <button type="button"
                    class="mt-auto text-white bg-urban hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center justify-center mt-9">
                    Get Quote
                </button>

            </div>
<<<<<<< HEAD
        </aside>
        <form method="post" action="/cart/{{cartName}}">
            {{#if cartError}}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative m-2 " role="alert">
                    <strong class="font-bold">Error: </strong>
                    <span class="block sm:inline">{{cartError}}</span>
                </div>
            {{/if}}

            <div class="flex flex-col max-w-3xl p-6 space-y-4 sm:p-10">
                <h2 class="text-xl font-semibold">Your cart - <span class="text-urban">{{thisCart.cartName}}</span></h2>
                <ul class="flex flex-col divide-y divide-gray-700">
                    {{#each products}}
                    <li class="flex flex-col py-6 sm:flex-row sm:justify-between">
                        <div class="flex w-full space-x-2 sm:space-x-4">
                            <img class="flex-shrink-0 object-cover w-20 h-20  rounded outline-none sm:w-32 sm:h-32" src="{{image}}" alt="{{productName}}">
                            <div class="flex flex-col justify-between w-full pb-4">
                                <div class="flex justify-between w-full pb-2 space-x-2">
                                    <div class="space-y-1">
                                        <h3 class="text-lg font-semibold leading-snug sm:pr-8">{{productName}}</h3>
                                        <p class="text-sm ">{{description}}</p>
                                    </div>
                                    <div class="text-right">
                                        {{#if discounted}}
                                            <p class="text-lg font-semibold">${{#discount price discounted}}{{/discount}}</p>
                                            <p class="text-sm line-through">${{price}}</p>
                                        {{else}}
                                            <p class="text-lg font-semibold">${{price}}</p>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="flex text-sm divide-x">
                                    <button type="button" class="flex items-center px-2 py-1 pl-0 space-x-1">
                                        <label for="quantity" class="align-center block mb-2 text-sm font-medium text-gray-900">Quantity</label>
                                    </button>
                                    <button type="button" class="flex items-center px-2 py-1 space-x-1">
                                      <input type="number" name="quantity" id="quantity" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5" required="" value="{{quantity}}">
                                    </button>
                                </div>
                                <div class="flex text-sm divide-x flex-row align-middle">
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <div class="space-y-1 text-right">
                    <p>Total amount:
                        <span class="font-semibold">{{#calcTotal products}}{{/calcTotal}}</span>
                    </p>
                    <p class="text-sm ">Not including taxes and shipping costs</p>
                </div>
                <div class="flex justify-end space-x-4">
                    <a href="/product">
                        <button type="button" class="px-6 py-2 border rounded-md ">Back
                            <span class="sr-only sm:not-sr-only">to shop</span>
                        </button>
                    </a>
                    <button type="submit" class="px-6 py-2 border rounded-md ">
                        <span class="sr-only sm:not-sr-only">Cart &nbsp;</span> Update
                    </button>
                </div>
            </div>
        </form>
    </div>
=======
        </div>
    </aside>
    <section>
        <h2 class="text-xl font-bold text-urban m-5">{{thisCart.cartName}}</h2>
        {{#if cartError}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative m-2 " role="alert">
            <strong class="font-bold">Error: </strong>
            <span class="block sm:inline">{{cartError}}</span>
        </div>
        {{/if}}
        {{#each products}}
        <div class="flex flex-col justify-center">
            <div
                class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-white my-5">
                <div class="w-full md:w-1/3 bg-white grid place-items-center border-2 rounded-xl">
                    <img src="{{image}}" alt="{{productName}}" class="rounded-xl" />
                </div>
                <div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3 justify-between">
                    <div class="flex flex-row justify-between">
                        <h3 class="font-black text-gray-800 md:text-3xl text-xl">{{productName}}</h3>
                        <div class="item-center">
                            {{#if available}}
                            <div class="bg-green-200 px-3 py-1 rounded-full text-xs font-medium text-green-800">
                                In stock
                            </div>
                            {{else}}
                            <div class="bg-red-200 px-3 py-1 rounded-full text-xs font-medium text-red-800">
                                Out of Stock
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <p class="md:text-lg text-gray-500 text-base">{{description}}</p>
                    <div class=" flex flex-row items-center justify-between">
                        <p class="text-xl font-black text-gray-800">
                            ${{price}}
                        </p>
                        <div class="{{#if available}}inline-flex{{else}}hidden{{/if}} w-[150px]">
                            <span
                                class="inline-flex items-center px-3 text-sm bg-urban text-white border border-r-0 border-gray-300 rounded-l-md">
                                Quantity
                            </span>
                            <input type="text" name="{{categoryName}}"
                                class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </section>
</div>
>>>>>>> 847f2f9208ebb55ccc530cb916c5938cff8ceb95
{{/if}}























<!--Add Mods-->
<div id="authentication-modal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden md:ml-28 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-gray-200 rounded-lg shadow">
            <button type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                data-modal-hide="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900"><label for="email">Enter Collabrator's email</label>
                </h3>
                <form class="space-y-6" id="form-mod" method="POST" action="/cart/addmod">
                    <input type="email" name="email" id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="manager@company.xyz" required>

                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input id="mod" aria-describedby="mod" name="mod" type="checkbox"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300">
                        </div>
                        <div class="ml-3 text-sm">
                            <label for="mod">This person is a </label>
                            <span class="font-medium text-primary-600 hover:underline" data-modal-target="defaultModal"
                                data-modal-toggle="defaultModal">Moderator</span>
                        </div>
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/js/prompt.js"></script>

<a download="Quotation.jpg" href="/Assets/Sample Quote Document.jpg"><button class="btn">Download Quote</button></a>