<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <p><a href="/product"><span class="text-urban">Products</span></a>/{{product.category}}</p>
</div>
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 grid grid-cols-2 gap-4">
    <section class="self-start">
        <div class="max-w-sm rounded-lg h-96 mx-auto flex justify-center items-center">
            <a href="#">
                <div class="h-3/4">
                    <img class="block mx-auto h-full w-full object-cover rounded-lg" src={{product.image}} alt="" />
                </div>
            </a>
        </div>
        <div class="mb-4 border-gray-200">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <button class="text-urban inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Details</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button class="text-urban inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Specifications</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button class="text-urban inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Manual</button>
                </li>
            </ul>
        </div>
        <div id="myTabContent">
            <div class="hidden p-4 rounded-lg" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {{#each product.info}}
            <h2 class="font-bold">{{heading}}</h2>
            <br>
                <ul class="space-y-1 text-sm text-gray-200 list-disc list-inside dark:text-gray-400">
                    {{#each text}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            <br>
            {{/each}}
            </div>
            <div class="text-blue-600 hidden p-4 rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                <a href="{{product.specification}}">Specifications</a>
            </div>
            <div class="text-blue-600 hidden p-4 rounded-lg" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <a href="{{product.manual}}">Manual</a>
            </div>
        </div>
    </section>
    <div class="p-4 self-start">
        <h1 class="text-4xl font-bold mb-2 text-black">{{product.productName}}</h1>
        <br>
        <div class="flex items-center">
            {{#ifeq product.inventory 0}}
                <svg class="w-4 h-4 mr-1.5 text-gray-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
                Out of Stock
            {{else}}
                <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                In Stock
            {{/ifeq}}
        </div>
        <br>
        <p class="text-urban font-bold">${{product.price}}</p>
        <br>
        <p>{{product.description}}</p>
        <br>
        <div class="flex justify-center items-center space-x-2">
            <div class="custom-number-input h-10 w-32">
                <label for="custom-input-number" class="sr-only">Quantity</label>
                <div class="flex flex-row h-10 w-full rounded-lg relative bg-gray-100">
                <button data-action="decrement" class=" bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l-lg cursor-pointer outline-none">
                    <span class="m-auto text-2xl font-thin">−</span>
                </button>
                <input type="number" value="1" class="outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-base cursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                <button data-action="increment" class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r-lg cursor-pointer">
                    <span class="m-auto text-2xl font-thin">+</span>
                </button>
                </div>
            </div>
            <button type="button" class="text-white bg-urban hover:bg-urban focus:ring-4 focus:ring-urban font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-urban dark:hover:bg-urban focus:outline-none dark:focus:ring-urban">Add To Cart</button>
        </div>
        <br>
        <div class="flex justify-center items-center">
            <article class="rounded-lg border-gray-700 bg-gray-300 p-4">
                <div class="flex items-center gap-4">
                    <div>
                        <h3 class="text-2xl text-black">Buy Together</h3>
                    </div>
                </div>
                <ul class="mt-4 space-y-2">
                    {{#each bundleProducts}}
                    <li>
                    <a href="#" class="block h-full border bg-white p-4">
                        <div class="max-h-20 grid grid-cols-4">
                            <div class="max-h-20 mr-4 col-span-1">
                                <img class="block mx-auto h-full w-full object-cover rounded-lg" src={{image}} alt="" />
                            </div>
                            <div class="col-span-2 text-2xl flex flex-col items-start justify-center">
                            <p>{{productName}}</p>
                            <div class="text-sm flex items-center">
                                {{#ifeq inventory 0}}
                                <svg class="w-4 h-4 mr-1.5 text-gray-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
                                Out of Stock
                                {{else}}
                                <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                In Stock
                                {{/ifeq}}
                            </div>
                            </div>
                            <div class="max-h-20 col-span-1 flex justify-center items-center">
                                <button class="bg-urban hover:bg-urban-700 text-white font-bold py-2 px-4 rounded-full flex justify-center items-center">
                                    <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M10 18a1 1 0 01-1-1V11H2a1 1 0 110-2h7V3a1 1 0 112 0v6h7a1 1 0 110 2h-7v6a1 1 0 01-1 1z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </a>
                    </li>
                    {{/each}}
                </ul>
                <div>
                    <h3 class="mt-3 text-2xl text-black">Related Products</h3>
                </div>
                <ul class="mt-4 space-y-2">
                    {{#each relatedProducts}}
                    <li>
                    <a href="#" class="block h-full border bg-white p-4">
                        <div class="max-h-20 grid grid-cols-4">
                            <div class="max-h-20 mr-4 col-span-1">
                                <img class="block mx-auto h-full w-full object-cover rounded-lg" src={{image}} alt="" />
                            </div>
                            <div class="col-span-2 text-2xl flex flex-col items-start justify-center">
                            <p>{{productName}}</p>
                            <div class="text-sm flex items-center">
                                {{#ifeq inventory 0}}
                                <svg class="w-4 h-4 mr-1.5 text-gray-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
                                Out of Stock
                                {{else}}
                                <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                In Stock
                                {{/ifeq}}
                            </div>
                            </div>
                            <div class="max-h-20 col-span-1 flex justify-center items-center">
                                <button class="bg-urban hover:bg-urban-700 text-white font-bold py-2 px-4 rounded-full flex justify-center items-center">
                                    <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M10 18a1 1 0 01-1-1V11H2a1 1 0 110-2h7V3a1 1 0 112 0v6h7a1 1 0 110 2h-7v6a1 1 0 01-1 1z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </a>
                    </li>
                    {{/each}}
                </ul>
            </article>
        </div>
    </div>
</div>

<style>
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }
</style>

<script>
  function decrement(e) {
    const btn = e.target.parentNode.parentElement.querySelector(
      'button[data-action="decrement"]'
    );
    const target = btn.nextElementSibling;
    let value = Number(target.value);
    value--;
    target.value = value;
  }

  function increment(e) {
    const btn = e.target.parentNode.parentElement.querySelector(
      'button[data-action="decrement"]'
    );
    const target = btn.nextElementSibling;
    let value = Number(target.value);
    value++;
    target.value = value;
  }

  const decrementButtons = document.querySelectorAll(
    `button[data-action="decrement"]`
  );

  const incrementButtons = document.querySelectorAll(
    `button[data-action="increment"]`
  );

  decrementButtons.forEach(btn => {
    btn.addEventListener("click", decrement);
  });

  incrementButtons.forEach(btn => {
    btn.addEventListener("click", increment);
  });
</script>

